*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{ text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: #E94560;
}
.navBar{

    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,auto);
    list-style: none;
    width: 100%;
    color: aliceblue;
    background-color: rgb(4, 4, 81);
    padding: 1.5rem;
    direction: rtl;

}

.nav li{
    margin: 0 1rem;
    width: 5rem;
}

.footer{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,auto);
    list-style: none;
    padding: 1.5rem;
    bottom: 0;
    box-sizing: border-box;
    width: 98%;
    height: 100%;   
    color: aliceblue;
    background-color: rgb(4, 4, 81);
}
.footerInfo{
    text-align: center;
    padding-right: 2rem;
}

form{
    text-align: center;
}

hr.hrs{
    width: 30%;
    border-top: 0.5px solid rgba(255, 255, 255, 0.735);
}

.shop-form{

    box-shadow: 2px 4px 10px 5px rgba(4, 4, 81, 0.407);
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.login{
    width: 30%;
    margin: 2rem 28rem;
}


.button-shop:hover {
    background-color: rgb(1, 98, 255);
    color: aliceblue;
}
.image{
    text-align: center;
}
.home-img{
    margin: 3rem;
    box-sizing: border-box;
    width: 70%;
    height: 18rem;
}
.title{
    text-align: center;
    font-family: 'Noteworthy';
    margin-top: 4rem;
}
.serch-form{
    text-align: center;
    box-shadow: 0 2px 8px rgba(.20, 0, 0.25, 0.50);
    padding: 1rem;
    display: grid;
    width: 70%;
    margin: 1rem 12rem;
    grid-template-columns: repeat(2, auto);
}

.search{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 2rem;
    margin: 2rem 12rem 2rem 16rem;
    gap: 1rem;
}
.align{
    align-items: center;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
    grid-gap: 1rem;
    margin: 1rem 8rem;
    padding: 0rem; 
}

.card{
    box-shadow: 2px 2px 15px 2px rgba(4, 4, 81, 0.313);
    padding: 1rem;
    height: 100%;
    border-radius: 20px;
}

.infoCard{
    height: 100%;
}

.imageCard{
    width: 50%;
    height: 50%;
}
@media only screen and (max-width: 780px) {
    .shop-form {
      margin: 2rem 4rem;
      font-size: 10px;

    }
    .title{
        font-size: 15px;
    }
    .info, .serch-form, .search{
       margin: 1rem auto;
    }
    .login{
        display: flex;
        flex-direction: row;
        margin: 2rem 2.5rem;
    }
    .infoCard{
        height: auto;
    }
  }